.red {
    height: 50px;
    width: 150px;
    background-color:red;
}

.green {
    height: 50px;
    width: 150px;
    background-color:green;
}

.orange {
    height: 50px;
    width: 150px;
    background-color:orange;
}